.background_main {
  background: #181818;

  /* background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%); */
  /* position: relative; */
  /* background: linear-gradient(to bottom, #26242b 0%, #2b2a2a 100%); */
}

.shape_container {
  width: 100%;
  position: absolute;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-rows: auto;
  justify-content: center;
  background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%);
  height: 50vh;
}
.background_shape {
  /* position: absolute; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 10em;
  height: 10em;
  transform: rotate(45deg);
  margin: 2em;
  /* z-index: 1; */
  /* float: left; */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.contact_form {
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

@media only screen and (max-width: 300px) {
  .contact_form {
  }
}
/* --main: #f8f4e5;
  --secondary: blue;
  --font-color: green;
  --focus: #6bd4b1; */

.form_container {
  /* background: linear-gradient(#d97b93 0%, #222 100%); */
  background: #181818;
  /* background: pink; */
  /* position: relative; */
  /* max-width: 600px; */
  border-radius: 8px;
  padding: 20px;
  /* border: 1px white solid; */
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 20px;
  /* border-radius: 8px; */
}

.heading span {
  /* color: var(--shade); */
}

.heading {
  display: flex;
}

.btn_container {
  /* padding: 10px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.contact_header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 100px; */
  /* gap: 1rem; */
  background: #181818;
}

.contact_header h1 {
  /* background-color: whitesmoke; */
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;
  /* min-width: 300px; */
  /* color: #181818; */
  /* padding: 20px; */
}

.form div {
  z-index: 1;
  /* font-size: 16px; */
}

.form div:nth-of-type(odd) {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #181818;
}

.form div:nth-child(1) {
  color: white;
  grid-column: 1/4;
  margin-left: 10px;
  margin-bottom: 15px;
}

.form div:nth-of-type(even) {
  background-color: rgba(204, 204, 204, 0.055);
  grid-column: 1/2;
  border-radius: 4px;
  display: flex;
  color: white;
  /* padding-left: 20px; */
  padding: 0 1rem;
  /* justify-content: center; */
  align-items: center;
  margin-left: 10px;
}

.form div:nth-child(10),
.form div:nth-child(11) {
  letter-spacing: 0.5px;
  border-radius: 4px;
}

/* button container */
.form div:nth-child(10) {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  grid-column: 3/4;
}

.return_btn {
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 4px 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  /* resize: vertical; */
  cursor: pointer;
}

.return_btn:hover {
  transition: background 0.4s ease;
}

.form div.contact_header_image {
  max-height: 100px;
  min-width: 100px;
  width: 200px;
  background: #181818;
}

.form div:nth-child(10) {
  background: #181818;
}
