.container {
  color: white;
}

.landingPage {
  color: white;
}

.main {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-bottom: 180px;
}

.title span {
  /* color: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%); */
  /* color: var(--font-color-1); */
  /* color: #d97b93; */
  color: #ffb6b6;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  /* background-color: black; */
  padding: 20px;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  /* background-color: black; */
  text-align: center;
}

.description {
  margin: 0rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.image_container {
  z-index: -2;
}

.landingPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 200px;
  align-items: center;
  height: 100vh;
}

.landingPage h1 {
  /* font-size: 45px; */
  font-weight: 600;
}

.title span {
  font-weight: 600;
}

.title_about {
  position: relative;
}

.title_about::after {
  /* content: " "; */
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  height: 0.5em;
  min-width: none;
  max-width: 200px;
  border-top: 2px solid white;
}

.about_img {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.about_text {
  /* position: relative; */
  display: flex;
  /* border: solid 1px white; */
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  min-width: 300px;
}

.title_about {
  min-width: 210px;
}
.about_text h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about_text p {
  font-size: 18px;
}

.about {
  display: grid;
  margin: 1rem;
  gap: 2rem;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-row: auto;
}

.logos_container {
  gap: 20px;
  /* grid-column: 2/3; */
  display: grid;
}

.logos {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  /* padding: 10px; */
}

.logo {
  /* border: 1px solid white; */

  /* width: 50px; */
}

@media only screen and (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
  }

  .main {
    margin-bottom: 500px;
  }

  .images_container {
    /* display: flex; */
    margin: 1rem;
    /* justify-content: center; */
  }

  .logos_container {
    /* justify-content: center; */
    margin: 1rem;
    gap: 0;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    /* gap: 20px; */
  }

  .startup_img {
    display: none;
  }

  .about_text {
    /* position: relative; */
    display: flex;
    /* background-color: green; */
    /* border: solid 1px white; */
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    min-width: 300px;
  }

  .title_about {
    position: relative;
  }

  .title_about::after {
    content: " ";
    position: absolute;
    bottom: -18px;
    /* left: 0; */
    /* right: 0; */
    margin: 4rem;
    height: 0.5em;
    min-width: none;
    max-width: 200px;
    border-top: 2px solid white;
  }

  .about_text h1 {
    /* position: relative; */
    /* display: flex; */
    /* background-color: yellow; */
    /* border: solid 1px white; */
    text-align: center;
    /* flex-direction: column;
    justify-content: center; */
    /* padding: 0 40px; */
  }
  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: aqua; */
    gap: 2rem;
  }

  .logo {
    /* border: solid 1px white; */

    display: flex;
    height: 100px;
    /* width: 100px; */
    justify-content: center;
    /* background-color: blueviolet; */
  }

  .main {
    margin-bottom: 800px;
  }
}
