.project_container {
  background: #181818;
  display: grid;
  margin: 0 auto;
  width: fit-content;

  /* padding: 1rem; */
  grid-template-areas:
    "navbar navbar navbar"
    "header development development"
    ".development development"
    "objective objective ."
    "sidebar . maintext";
  /* "description . ." */
  /* "description .  ." */
  /* "footer footer . "; */
  grid-template-columns: 1fr 1fr 3fr;
}

/* @media only screen and (max-width: 800px) {
  .project_container {
    grid-template-areas:
      "header header          "
      "development    development "
      "sidebar sidebar"
      "description  description "
      "maintext maintext"
      "collection objective"
      "footer          footer     ";
  }
} */

.navbar {
  grid-area: navbar;
}

.main {
  /* margin-bottom: 500px; */
}

.tagline_container {
  position: relative;
}

.tagline {
  color: pink;
  position: absolute;
  font-weight: 500;
  font-size: 42px;
  top: 80px;
  left: 100px;
  justify-content: center;
  display: flex;
}

.header {
  grid-area: header;
  /* background-color: powderblue; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* display: flex; */
  /* align-items: flex-start; */
  /* position: relative; */
}

.header h1 {
  font-weight: 700;
  font-size: 80px;
  color: #c0fff4;
}

.header:after {
  height: 10px;
  width: 30%;
  border: solid 1px white;
  display: flex;
  position: absolute;
  background-color: white;
}

.project_title {
  /* height: 100px; */
  grid-area: title;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
}

.project_title::after {
  content: "  ";
  position: absolute;
  top: 60px;
  /* width: 345px; */

  border-top: 3px solid white;
}

.image_content {
  /* padding: 10px; */
  /* margin-top: 9px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.image_container {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  grid-area: image;
  display: flex;
  gap: 1rem;
}

.image_container::after {
  background-color: #222;
  position: absolute;
  padding: 10px;
  /* content: "Image"; */
  top: 20px;
  left: 20px;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.image {
  /* display: flex; */

  border-radius: 8px;
}

.image_style {
  border-radius: 8px;
}

.image_collection {
  grid-area: collection;
  display: grid;
  padding: 4rem 4rem 4rem 0;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.image_collection_row_one {
  display: flex;
  justify-content: center;
  width: 400px;
  /* background-color: #c0fff4; */
}
.image_collection_row_two {
  display: flex;
  justify-content: flex-end;
  /* background-color: #c0fff4; */
}

.image_collection_row_three {
  display: flex;
  justify-content: flex-start;
  /* width: 100px; */
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 2rem;
  margin-top: 5rem;

  /* background-color: #333; */
}

/* "#ffb6b6 */
/* #3f3d56 */

.project_description {
  font-weight: 700;
  /* text-transform: uppercase; */
  padding: 4rem 4rem 8rem 4rem;
  border-radius: 4px;
  font-size: 40px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: description;
  background-color: #111;
  color: #fff;
}

.development {
  grid-area: development;
  padding: 1rem;
}
.development::after {
  /* background-color: #222; */
  position: absolute;
  padding: 10px 0 10px;
  /* content: "About"; */
  top: 10px;
  left: 20px;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  /* color: #fff; */
  color: black;
}

.development_alt {
  grid-area: development;
  position: relative;
  color: #222;
  letter-spacing: 1px;
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: 1.2px;
  align-items: center;
  font-size: 18px;
  /* background-color: black; */
}
/* .dev_image {
  grid-area: image;
} */

.dev_image_alt {
  display: grid;
  gap: 3rem;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  /* position: relative; */
  /* margin: 2rem 0 4rem; */
}

.development_alt {
  /* background-color: pink; */
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.development_alt .image_box {
  justify-content: center;
  min-width: 220px;
  margin-top: 50px;
  border-radius: 10px;
  /* display: flex; */
  /* background-color: powderblue; */
  /* height: fit-content; */
}

.image_box_2 {
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 1px; */
  /* border-radius: 10px; */
  /* background-color: powderblue; */
  /* width: 150px; */
}

.image_box_2 {
  /* background-color: powderblue; */
  display: flex;
  gap: 2rem;
  flex-direction: column;
  min-width: 200px;
  /* padding: 5px; */
}

.image_box_2 div:nth-child(1) {
  margin-left: 60px;
}

.image_box_2 div:nth-child(2) {
  margin-right: 10px;
}

.image_big_container {
  margin: 0 0 4rem 0;
}
.development_alt div:nth-child(2) {
  height: fit-content;
  padding: 1px;
  border-radius: 10px;
  /* background-color: pink; */
  /* margin-top: -40px; */
}

.development_alt div:nth-child(3) {
  /* height: fit-content; */
  /* margin-top: 70px; */
  padding: 5px;
  border-radius: 10px;
  /* width: 150px; */
  background-color: powderblue;
}

.image {
  /* width: 700px; */
}

.objective {
  grid-area: objective;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.objective h3 {
  color: #c0fff4;
  color: pink;

  width: fit-content;
  font-size: 36px;
  padding: 5px;
  margin-bottom: 0.7rem;
  font-weight: 600;
  border-radius: 4px 4px 0px 0px;
}

.objective p {
  /* background-color: yellow; */
  /* border: solid 1px white; */
  /* margin-bottom: 20px; */
  background-color: #222;
  color: #fff;
  padding: 20px;
  font-size: 24px;
  /* border-radius: 4px 0px 4px 4px; */
}

.mainText {
  background-color: black;
  color: white;
  display: flex;
  grid-area: maintext;
  border: solid 1px white;
  border-radius: 20px;
  padding: 0 40px 0px 40px;
  position: relative;
  margin: 10rem 2rem;
}

.mainText ul {
  list-style: disc;
  padding: 3rem 1rem;
}

.mainText li {
  margin-bottom: 1rem;
}
.mainText::after {
  content: "Inspiration";
  color: pink;
  color: #c0fff4;
  top: -5rem;
  right: 0;
  position: absolute;
  font-size: 42px;
  padding: 5px;
  font-weight: 600;
}

.mainText p {
  border: solid 1px white;
  color: #fff;
  padding: 20px;
}

.links {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: links;
  border: solid 1px white;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #111;
  border-radius: 20px;
}

.links_main_container {
  display: flex;
  justify-content: center;
}

.links ul {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.links a {
  /* text-transform: uppercase; */
}

.links::after {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #111;
  content: "Links ";
  top: -3rem;
  left: -4rem;
  transform: rotate(-30deg);
  color: #c0fff4;
  font-size: 64px;
  font-weight: 800;
  /* text-transform: uppercase; */
}

.link_container {
  transition: all 0.2s ease-in-out;
  justify-content: center;
  display: flex;
  min-width: 150px;
  height: 150px;
  align-items: center;
}

.link_container:hover {
  background-color: #333;
  border-radius: 20px;

  /* margin: 5px; */
}
.href h3 {
  margin: 20px 0 20px 0;
}

.footer {
  /* width: 100%; */
  background-color: blue;
  grid-area: footer;
}

.tech {
  grid-area: tech;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: #333; */
}

.tech_list_container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.techList {
  display: flex;
  gap: 1rem;
}

.logos {
  display: flex;
  align-items: center;
  /* width: 350px; */
  justify-content: space-between;
}

/* media queries */

@media only screen and (max-width: 768px) {
  .header {
    height: 200px;
    /* margin-bottom: 6rem; */
  }
  .header h1 {
    font-weight: 700;
    font-size: 64px;
  }

  .link_container {
    transition: all 0.2s ease-in-out;
    justify-content: center;
    display: flex;
    justify-content: center;
    /* min-width: 10rem; */
    /* height: 10rem; */
    align-items: center;
  }
  .sidebar {
    margin-bottom: 8rem;
    /* justify-content: center; */
  }

  .links {
    width: fit-content;
    /* padding: 0; */
  }

  .links::after {
    /* color: darkgoldenrod;
    background-color: transparent;
    transform: rotate(0deg);
    top: 0; */
    font-size: 50px;
  }

  .objective {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 2rem 8rem 2rem;
  }

  .project_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    /* display: flex; */
    /* margin: 0 2rem; */
    /* background: #181818; */
    /* display: grid; */
    /* gap: 1rem 0;
    margin: 2rem 1rem; */

    grid-template-areas:
      "navbar"
      "header"
      "development"
      "objective"
      "sidebar"
      "maintext"
      "collection";
  }
}
