.homepage {
  /* height: 2000px; */
}

.container {
  /* background-color: pink; */
  /* padding: 0 2rem; */
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 300px) {
  .container {
  }
}
