.homepage {
  height: fit-content;
}

.container {
  /* padding: 0 2rem; */
  margin: auto;
  display: flex;
  width: fit-content;
  justify-content: center;
  flex-direction: column;
  background: #181818;
}

/* @media only screen and (max-width: 300px) {
  .container {
  }
} */
