/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* BACKGROUNDS */
  /* --main: #f8f4e5; */
  --main: #333;
  --shade: #0e2534;
  --shade-lighter: #253b492c;
  --tint: #555;
  --secondary: #e8edf0;
  /* FONT COLORS */
  --font-color-1: #ccc;
  --font-color-2: #555;
  --font-color-3: #6bd4b1;
  --font-color-3: #55bdca;
  --focus: #6bd4b1;
  /* Cards */
  --border-1: #55bdca;
  --card-1: #55bdca;
  /* buttons */
  /* --btn-color: #3385bc; */
  --btn-font-color-1: #3385bc;
  /* Nav */
  --nav-background: #ccc;
  --nav-items: #0e2534;

  --skin-color: #ffb6b6;

  /* for tailwind */
  --pink: pink;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  /* scroll-behavior: smooth; */
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  letter-spacing: 2.5px;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
    /* scroll-behavior: smooth; */
  }
  body {
    color: white;
    /* background: #111; */
    background: #181818;
  }
}

@media (max-width: 600px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */
}

input[type="text"],
input[type="email"],
select,
textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
}

label {
  font-weight: 800;
  letter-spacing: 0.5px;
}
input[type="submit"] {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  background: pink;
  color: #222;
  border-radius: 8px;
  font-weight: 900;
  letter-spacing: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 40px;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background-color: rgb(255, 213, 220);
  /* border: 1px black solid; */
}

textarea {
  resize: vertical;
  max-height: 160px;
  min-height: 80px;
}
